<h1 class="flex justify-center items-center text-2xl font-bold mb-4 text-blue-800">Customers</h1>
<div class="flex justify-end mb-4">
  <app-customer-add-component></app-customer-add-component>
</div>
<div class="flex-grow bg-gray-100">
  <div class="grid lg:grid-cols-4 sm:grid-cols-2 gap-6 p-4 rounded-lg overflow-hidden bg-gray-100 w-full h-full">
    @if (customers.length > 0) {
      @for (item of customers; track $index) {
          <app-customer-display [customer]="item" class="hover:shadow-lg transition-shadow duration-300 rounded-lg overflow-hidden bg-gray-100 p-4"></app-customer-display> 
      }
    }@else {
      <div class="col-span-4 flex flex-col items-center justify-center p-8 bg-gray-100 rounded-lg">
        <p class="text-gray-600 text-lg">No Customers Found</p>
        <p class="text-gray-500">Please add some customers to view them here.</p>
      </div>
    }
  </div>
</div>
